*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


nav {
    display:flex;
    justify-content: space-around;
    width: 10%;
    margin-left: auto; 
    padding: 2em; 
}

main img{
    width: 45%;
    margin-bottom:5px;
    
}

header{
    max-width: 100%;
    width: 90%;
    height: 50px;
}

a{
    color:black;
    text-decoration: none;
    padding: 0 20px;
}
a:hover{
    text-decoration: underline;
}
nav img{
    height: 20px;
}
main{
    width:50%;
    margin:1rem auto;
    text-align: center;
    height: 60vh;
}
.lang-main{
    font-size: 12px;
    margin-top: 25px;
    
}
.lang-main a{
    color: rgb(18, 18, 179);
    justify-content: space-between;
    
}
input{
    width:90%;
    padding:1em;
    border-radius:30px;
    border: 1px solid grey;
    height: 10X;
    margin-bottom: 30px;
    
}

.buttons-cont{
    margin-top: 2px;

}
.buttons-cont button{
    padding:1em;
    border: none;
    
    transition-duration: 0.4s;
}
.buttons-cont button:hover{
    background-color: rgb(173, 169, 169);
}

footer{
    background-color:rgb(241, 236, 236);
    width: 100%;
    margin-top: 80PX;
}
.footer-top{
    padding:1em;
}
.footer-bottom{
    padding:1em;
    display:flex;
    justify-content: space-between;
    border-top:1px solid grey;
    
}
.left a{
    margin-right:1em;
}
.right a{
    margin-right:1em;
}
